header
	nav
		ul.nav
			li.nav__item
				a.nav__link
					.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
					|  Intro
			li.nav__item
				a.nav__link
					.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
					|  News
			li.nav__item
				a.nav__link
					.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
					|  Teams
			li.nav__item
				a.nav__link
					.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
					|  Products
			li.nav__item
				a.nav__link
					.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
					|  Abouts
	//- SLIDER
	.slider
		.slider__main
			h3 A THEME JUST FOR ESPORT/GAMES
			h1 SUPER THEME
			h2 I THINK YOU ARE HYPED AS WE ARE!
		.slider__btn
			| BUY NOW 
			.i(class='fa fa-plus slider__btn_plus' aria-hidden='true')
		.slider__arrow
			a.slider__arrow__right
				.i(class='fa fa-angle-left' aria-hidden='true')
			a.slider__arrow__left
				.i(class='fa fa-angle-right' aria-hidden='true')
	//- SLIDER FINISH
//- MATCH
.upcoming
	.match
		.match__first
			.match__first_shield
				.i(class='fa fa-shield' aria-hidden='true')
		.match__detail
			.match__about
				h4.match__about__name UPCOMING MATCH
				.match__about__time NOVEMBER 30, 2016 9:00PM

			.match__teams
				.match__team-first
					img.team-img(src='/assets/img/images_png/f-team.png', alt='Team #1')
				.match__team-vs VS
				.match__team-second
					img.team-img(src='/assets/img/images_png/s-team.png', alt='Team #2')




		.match__view 
			a.match__view__arrow VIEW MATCH
				.i(class='fa fa-long-arrow-right' aria-hidden='true')


//- MATCH FINISH