header
	nav
		ul.nav
			li.nav__item
				a.nav__link
					.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
					|  Intro
			li.nav__item
				a.nav__link
					.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
					|  News
			li.nav__item
				a.nav__link
					.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
					|  Teams
			li.nav__item
				a.nav__link
					.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
					|  Products
			li.nav__item
				a.nav__link
					.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
					|  Abouts
	//- SLIDER
	.slider
		.slider__main
			h3 A THEME JUST FOR ESPORT/GAMES
			h1 SUPER THEME
			h2 I THINK YOU ARE HYPED AS WE ARE!
		.slider__btn
			| BUY NOW 
			.i(class='fa fa-plus slider__btn_plus' aria-hidden='true')
		.slider__arrow
			a.slider__arrow__right
				.i(class='fa fa-angle-left' aria-hidden='true')
			a.slider__arrow__left
				.i(class='fa fa-angle-right' aria-hidden='true')
	//- SLIDER FINISH
//- MATCH
.upcoming
	.match
		.match__first

		.match__detail

		.match__view 
		|VIEW MATCH
		|


//- MATCH FINISH