header
	nav
		ul.nav
			li.nav__item
				a.nav__link
					.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
					|  Intro
			li.nav__item
				a.nav__link
					.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
					|  News
			li.nav__item
				a.nav__link
					.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
					|  Teams
			li.nav__item
				a.nav__link
					.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
					|  Products
			li.nav__item
				a.nav__link
					.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
					|  Abouts
	//- SLIDER
	.slider
		.slider__main
			h3 A THEME JUST FOR ESPORT/GAMES
			h1 SUPER THEME
			h2 I THINK YOU ARE HYPED AS WE ARE!
		.slider__btn
			| BUY NOW 
			.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
		.slider__arrow
			.slider__arrow__right
				.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
			.slider__arrow__left
				.i(class='fa fa-plus nav__link_plus' aria-hidden='true')
	//- SLIDER FINISH