header{
	width: 100%;
    height: 100%;
	background: url(/assets/img/images_png/background.jpg) center center no-repeat;
}
nav{
	width:100%;
	height:62px;
	background: rgba(#fff, 0.1);
}
.nav{
	float: right;
	font-size: 0;
	&__item{
		display: inline-block;
	}
	&__link{
		display: block;
		padding: 21px;
		color: #fff;
		font-family: Arial;
		font-size: 16px;
		font-weight: bold;
		&_plus{
			font-size: 13px !important;
			color: #fff;
		}
		&:hover{
			border-bottom: 2px solid red;
			cursor: pointer;
		}
		&:hover &_plus {
			transition: 0.5s;
			transform: rotate(360deg);
		}
	}

}
.slider{
	position: relative;
	width:100%;
	top:28%;
	&__main{
		text-align: center;
	}
	&__btn{
		position: absolute;
		width: 160px;
		left: 50%;
		margin: 30px 0 0 -80px;
		padding: 24px 15px;
		text-align: center;
		background:#692b7c;
		font-family: Arial;
		color: #fff;
		&_plus{
			color:#ad0d31;
		}
		&:hover &_plus {
			transition: 0.5s;
			transform: rotate(360deg);
		}
	}
	&__arrow{
		
		&__right{
			display: block;
			margin-left: 16%;
			float: left;
			opacity: 0.3;
			&:hover{
				cursor:pointer;
				opacity: 1;
				transition: 0.6s;
			}
		}
		&__left{
			display: block;
			margin-right: 16%;
			float: right;
			opacity: 0.3;
			&:hover{
				cursor:pointer;
				opacity: 1;
				transition: 0.6s;
			}
		}
	}
}
h1{
	font-family:Arial;
	font-size:80px;
	font-style:italic;
	color:#ad0d31;
}
h2{
	font-family:Arial;
	font-size:30px;
	font-style:italic;
	color:#fff;
}
h3{
	font-family:Arial;
	font-size:26px;
	font-style:italic;
	color:#fff;
}
.fa-angle-left, .fa-angle-right{
	font-size: 50px !important;
	color: #fff;
}
// MATCH
.upcoming{
	position: relative;
}
.match{
	position: absolute;
	right: 50%;
	width:1200px;
	height: 175px;
	margin-right:-600px;
	&__first{
		width: 115px;
		height: 175px;
		float: left;
		background: rgba(145, 69, 186, 0.68);
		color: #fff;
		font-size: 30px;
		text-align: center;
		&_shield{
			padding: 64px 0;
			font-size: 40px;	

		}
	}
	&__detail{
		width: 685px;
		height: 175px;
		float: left;
		padding: 0 80px;
		background: #000;
	}
	&__view{
		width: 240px;
		height: 175px;
		float: left;
		background: rgba(#830D37, 0.5);
		&__arrow{
			display: block;
			padding: 77px 0;
			text-align: center;
			color: #fff;
			font-size: 18px;
			font-family: Arial;

		}
	}
	&__about{
		float:left;
		&__name{
			font-family: 'Oswald', sans-serif;
			font-weight: 700;
			font-size: 25px;
			color: #AD0D31;
		}
		&__time{
			font-family: 'Oswald', sans-serif;
			font-size: 16px;
			color: #8640AB;
		}
	}
	&__teams{
		float:left;
	}
}

// .fa-shield{
// 	font-size: 40px !important;
// }
// MATCH FINISH
